<h1>Student Form</h1>

<form>
  <label>First Name:</label>
  <input name="student[first_name]">

  <label>Last Name:</label>
  <input name="student[last_name]">
  
  <input type="submit" value="Submit Student">
</form>

<%=params.inspect%>